@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 0 100% 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 0 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 0 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 100% 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 5% 22%;
    --muted-foreground: 0 5% 49%;

    --accent: 0 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 5% 12%;
    --input: 0 4% 18%;
    --ring: 0 100% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein-animation {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeout-animation {
  animation: fadeOut 1s ease-in;
}

.footer {
  position: relative;
  border: 2px solid transparent;
}

.footer::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, gray, rgba(0, 0, 0, 0));
}

.footer::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(to left, gray, rgba(0, 0, 0, 0));
}
